<ion-header>
  <ion-toolbar color="dark shade">
    <ion-title> ToDo List </ion-title>
    <ion-buttons color="white" slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- /* Begin of content of the todo */ -->
<ion-content color="medium shade">
  <!-- /* Cards with the todo info */ -->
  <ion-card
    class="todo-card"
    color="dark tint"
    *ngFor="let todo of (todoList | async)"
  >
    <!-- /* Todo header */ -->
    <ion-card-header>
      <!-- /* Card subtitle - Todo Title */ -->
      <ion-card-subtitle> {{ todo.title }} </ion-card-subtitle>
      <!-- /* Card Title - Todo Task */ -->
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <!-- <ion-col size="1">
              <div>
                <ion-checkbox
                  color="light"
                  [(ngModel)]="todo.done"
                ></ion-checkbox>
              </div>
            </ion-col> -->
            <ion-col>
              <div>
                <span
                  [ngClass]="{ 'strike-text': todo.done }"
                  (click)="todo.done = !todo.done"
                  >{{ todo.task }}</span
                >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <!-- /* Card content */ -->
    <ion-card-content>
      <p>{{ todo.detail }}</p>
    </ion-card-content>
  </ion-card>

  <!-- /* Fab button for add new todo */ -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
